
#app{
  width: 100vw;
  height: 100vh; 

}
.wrapper{
  position: absolute;
  top: 50%;
  z-index: 100;
  left: 50%;
  border-radius: 310px;
  background-color: #F9F9F9;
  display: flex;
  
  transform: translate(-50%, -50%) perspective(600px) rotateY(20deg) rotateX(10deg);
  
  transform-style: preserve-3d;
  border-radius: 10px;
}
.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}
.App-logo {
  right: 50%;
  margin-top: -45%;
  z-index: 10;
  position: relative;
  animation: App-logo-spin infinite 20s linear reverse;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}